/.vscode
/a.exe
/acc.cpp
/acc.exe
/binary.cpp
/circular.c
/cons.cpp
/lab3.c
/lab7a.cpp
/lab7b.cpp
/linkedl.c
/new.cpp
/newdlt.cpp
/newdlt.exe
/oops3.cpp
/oopscovert.cpp
/oopslab4.c
/oopstime.cpp
/patternmatch.c
/postfix.c
/queue.c
/record.dat
/stack.c
/str.cpp
/test.c
/test.cpp
/unary.cpp